html, body {
  margin: 0;
  padding: 0;
}
body{
  overflow: overlay;
}
body, button {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}
canvas {
  display: block;
}
.width50 {
  width: 50px;
}
.padding7 {
  padding: 7px;
}
.center-text {
  text-align: center;
}

.controlsDiv {
  padding: 0.7rem;
  overflow: auto;
  white-space: nowrap;
}
.controlsDiv > label, .controlsDiv > button {
  display: inline-block;
  margin: 0.5rem;
}

#fileInput {
  opacity: 0;
  width: 30px;
}
#fileInputLabel {
  border: 1px solid grey;
  padding: 9px;
}
#fileInputLabel > img {
  vertical-align: middle;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}

.box {
  display: flex;
  flex-flow: row wrap;
  height: 30rem;
  justify-content: center;
  align-items: center;
}
#loadedImageDiv, #cnvDiv {
  background-color: #294500;
  background-image: url("assets/food.png");
  width: 50%;
  height: 100%;
  border-radius: 0.7rem;
}
.input-image {
  max-width: 100%;
  max-height: 100%;
}

footer {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  #loadedImageDiv, #cnvDiv {
    width: 98%;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  #loadedImageDiv, #cnvDiv {
    width: 70%;
  }
}